*
*:after
*:before
    box-sizing: border-box;

html
body
    height 100%
    background $cinza

body
    position relative
    +above($tablet)
        &.contato-body
            min-height 600px

::selection
    background black
    color #fff

::-moz-selection
    background black
    color #fff

.center
    width desktop-base-width
    position relative
    margin 0 auto

body
    &:after
        content "" // preload images
        display none