header
    position absolute
    height 170px
    width 360px
    background $cinza
    top 50%
    left 0
    margin-top -85px
    padding 7px 30px
    z-index 999
    clearfix()
    h1
        float left
        height 100%
        width 200px
        text-indent -9999px
        margin 0
        padding 0
        background $img('logo.png') no-repeat center
    +below($tablet)
        position relative
        width 100%
        height 110px
        top 0
        margin-top 0
        padding 0 5%
        border-bottom 1px solid black
        h1
            width 200px
            background-size auto 100%
            background-position left
    +mobile()
        height 85px
        h1
            width 160px
    nav#nav-desktop
        float right
        padding 15px 0
        +below($tablet)
            display none
        a
            display block
            color #fff
            text-decoration none
            lato 13 light
            margin-bottom 6px
            &.active
                lato 13 bold
    .categorias
        position absolute
        min-height 100%
        width auto
        background $cinza
        top 0
        left 100%
        margin-left 5px
        padding 35px 30px
        +below($tablet)
            display none !important
        a
            display block
            color #fff
            text-decoration none
            lato 13 light
            margin-bottom 6px
            white-space nowrap
            &.active
                lato 13 bold
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        position absolute
        top 0
        right 5%
        height 100%
        width 30px
        outline 0
        padding 0
        margin-left 6%
        .lines
            display block
            width 100%
            height 4px
            background white
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                border-radius 2px
                background white
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
nav#nav-mobile
    +above($tablet)
        display none !important
    display none
    position absolute
    top 110px
    width 100%
    background darken(white, 10)
    border-bottom 4px solid darken(white, 12)
    padding 25px 0
    text-align center
    z-index 9999
    +mobile()
        top 85px
    a
        display block
        color rgba($cinza, .9)
        text-decoration none
        padding 6px 0
        lato 15 light
        &.active
            lato 15 bold

.not-found
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    padding 25vh 0
    text-align center
    .wrapper
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        display table
    .content
        display table-cell
        vertical-align middle
    +below($tablet)
        position relative
        .wrapper
            position relative
            display block
        .content
            display block
    h1
        display inline-block
        lato 13 bold
        color darken(white, 10)
        text-transform uppercase
        border 2px solid darken(white, 10)
        padding 15px
