.contato
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    .vitoria
    .saopaulo
        height 50%
        .googlemaps
            width 50%
            height 100%
            float left
            iframe
                width 100%
                height 100%
                display block
        .info
            width 50%
            height 100%
            float right
            position relative
            .info-wrapper
                position absolute
                top 0
                left 0
                display table
                height 100%
                width 100%
                .info-content
                    display table-cell
                    vertical-align middle
                    padding 0 5%
                    .texto
                        float left
                        width 40%
                        color #fff
                        h2
                            lato 16 light
                            margin 0 0 20px
                        .telefone
                            lato 22 light
                            margin 0
                        .endereco
                            p
                                lato 16 light
                                margin 2px 0
    .saopaulo
        border-top 1px solid black
        .googlemaps
            float right
            border-left 1px solid black
        .info
            float left !important
        .info .info-wrapper
            float left
            .info-content
                .texto
                    float right
                    text-align right
                    width 55%
                .redes-sociais
                    text-align right
                    width 40%
                    padding-top 40px
                    .social
                        text-align left
                        display inline-block
                        text-indent -9999px
                        width 20px
                        height 20px
                        background-position top center
                        text-decoration none
                        transition background .3s
                        &.social-twitter
                            background-image $img('twitter.png')
                        &.social-facebook
                            background-image $img('facebook.png')
                        &.social-linkedin
                            background-image $img('linkedin.png')
                        &.social-instagram
                            background-image $img('instagram.png')
                        &:hover
                            background-position center bottom
                    .copyright
                        lato 11 light
                        color #fff
                        line-height 1.5
                        a
                            color #fff
                            text-decoration none
                            &:hover
                                text-decoration underline
    .vitoria
        .info
            border-left 1px solid black
        form
            width 55%
            float right
            ::-webkit-input-placeholder
               color white
            :-moz-placeholder
               color white
            ::-moz-placeholder
               color white
            :-ms-input-placeholder
               color: white
            h2
                lato 16 light
                margin 0 0 20px
                color #fff
            input
            textarea
                width 100%
                background transparent
                outline 0
                border 0
                border-bottom 1px solid white
                display block
                margin-bottom 5px
                padding-bottom 4px
                color #fff
                lato 14 light
            textarea
                height 80px
                resize none
            input[type='submit']
                float right
                border 0
                width auto
                text-transform uppercase
                margin-top 4px
            #form-contato-response
                float left
                lato 13 light
                color #fff
                border-bottom 1px solid rgba(#fff, .5)
                padding 7px 0
    +below($tablet)
        position relative
        height auto
        .vitoria
        .saopaulo
            height auto
            border none
            .googlemaps
            .info
                width 100%
                height auto
                float none
                border none
                .info-wrapper
                    position relative
                    height auto
                    padding 5% 0
            .googlemaps
                height 250px
    +mobile()
        .texto
        .redes-sociais
        form
            width 100% !important
            float none !important
        form
            margin-top 30px !important
        .googlemaps
            height 150px !important
        .texto
        .redes-sociais
            text-align left !important