.banners
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    .banner
        position absolute !important
        top 0
        left 0
        width 100%
        height 100%
        .banner-imagem
            position absolute
            height 100%
            top 0
            background-size cover
            background-position center
            &.banner-imagem-1
                width 75%
                left 0
            &.banner-imagem-2
                width 25%
                right 0
                border-left 1px solid black
            +mobile()
                width 50% !important