.clipping
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    overflow hidden
    clearfix()
    .imagem-fixa
        width 25%
        height 100%
        float left
        background-size cover
        background-position center
        border-right 1px solid black
    .clipping-thumbs
        width 75%
        height 100%
        float right
        overflow-y auto
        clearfix()
        .thumb
            display block
            width 16.66667%
            height auto
            position relative
            float left
            border-right 1px solid black
            border-bottom 1px solid black
            padding 1% 0
            text-decoration none
            img
                display block
                width 85%
                margin 0 auto
                height auto
            .overlay
                position absolute
                opacity 0
                transition opacity .3s
                width 100%
                height 100%
                top 0
                left 0
                background rgba($cinza, .8)
                .overlay-content-wrapper
                    display table
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
                    padding 5%
                    p
                        display table-cell
                        vertical-align middle
                        text-align center
                        color #fff
                        lato 15 light
                        text-transform uppercase
                        line-height 1.4
                        span
                            display block
            &:hover
                .overlay
                    opacity 1
    +below($tablet)
        position relative
        overflow auto
        height auto
        .imagem-fixa
            display none
        .clipping-thumbs
            width 100%
            overflow visible
            .thumb
                width 25%
                .overlay
                    display none
    +mobile()
        .thumb
            padding 1.5% !important
            width 33.33% !important