.perfil
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    overflow hidden
    clearfix()
    .foto
        width 50%
        height 100%
        float left
        background-size cover
        background-position center
        border-right 1px solid black
        img
            display none
    .texto
        width 50%
        height 100%
        float right
        overflow-y auto
        lato 14 light
        color #fff
        line-height 2
        padding 120px 16% 120px 8%
        p:last-child
            margin-bottom 120px
    +tablet()
        position relative
        overflow auto
        height auto
        .foto
            width 40%
            background none
            border 0
            img
                display block
                max-width 100%
                height auto
        .texto
            width 60%
            padding 5%
            overflow visible
            p:last-child
                margin-bottom 1em
    +mobile()
        position relative
        overflow auto
        height auto
        .foto
        .texto
            width 100%
            float none
            height auto
            p:last-child
                margin-bottom 1em
        .foto
            border 0
            img
                display block
                max-width 100%
                height auto
        .texto
            padding 5%

.equipe
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    overflow hidden
    +below($tablet)
        position relative
        overflow auto
        height auto
    clearfix()
    .bg-fixo
        background #78716D
        width 520px
        height 100%
        float left
        border-right 1px solid #000
        +below($tablet)
            display none
    .equipe-thumbs
        width calc('100% - 520px')
        height 100%
        float right
        overflow-y auto
        lato 14 light
        color #fff
        line-height 2
        padding 120px 8% 120px 8%
        +below($tablet)
            width 100%
            padding 5%
        .thumb
            clearfix()
            width 100%
            max-width 700px
            + .thumb
                margin-top 2em
            img
                display block
                float left
                +mobile()
                    width 90px
            .texto
                width calc('100% - 190px')
                +mobile()
                    width calc('100% - 110px')
                float right
                h3
                    margin 0 0 .5em
                    lato 20 bold
                    font-style italic
                    color #000
                    span
                        lato 15 light
                        font-style italic
                    +mobile()
                        font-size 18px
                        span
                            font-size 14px
                p
                    margin 0

.perfil
.equipe
    .categorias-mobile
        display none
        background darken(white, 10)
        border-bottom 1px solid black
        padding 3% 5%
        a
            text-decoration none
            color $cinza
            lato 13 light
            white-space nowrap
            position relative
            margin-right 10px
            line-height 1.5
            &:after
                content ""
                position absolute
                height 2px
                width 2px
                background $cinza
                right -8px
                top 50%
                margin-top -1px
            &.active
                lato 13 bold
            &:last-child
                margin-right 0
                &:after
                    display none
        +below($tablet)
            display block
