.projetos
    .categorias-mobile
        display none
        background darken(white, 10)
        border-bottom 1px solid black
        padding 3% 5%
        a
            text-decoration none
            color $cinza
            lato 13 light
            white-space nowrap
            position relative
            margin-right 10px
            line-height 1.5
            &:after
                content ""
                position absolute
                height 2px
                width 2px
                background $cinza
                right -8px
                top 50%
                margin-top -1px
            &.active
                lato 13 bold
            &:last-child
                margin-right 0
                &:after
                    display none
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    overflow hidden
    clearfix()
    .projetos-principais
        width 50%
        height 100%
        float left
        border-right 1px solid black
        .thumb
            display block
            width 100%
            height 50%
            position relative
            float left
            background-size cover
            background-position center
            text-decoration none
            &:last-child
                border-top 1px solid black
            img
                display block
                width 85%
                margin 0 auto
                height auto
            .overlay
                position absolute
                opacity 0
                transition opacity .3s
                width 100%
                height 100%
                top 0
                left 0
                background rgba($cinza, .8)
                .overlay-content-wrapper
                    display table
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
                    padding 5%
                    p
                        display table-cell
                        vertical-align middle
                        text-align center
                        color #fff
                        lato 15 light
                        text-transform uppercase
                        line-height 1.4
                        span
                            display block
            &:hover
                .overlay
                    opacity 1
    .projetos-thumbs
        width 50%
        height 100%
        float right
        overflow-y auto
        clearfix()
        .thumb
            display block
            width 25%
            height auto
            position relative
            float left
            border-right 1px solid black
            border-bottom 1px solid black
            text-decoration none
            img
                display block
                width 100%
                margin 0 auto
                height auto
            .overlay
                position absolute
                opacity 0
                transition opacity .3s
                width 100%
                height 100%
                top 0
                left 0
                background rgba($cinza, .8)
                .overlay-content-wrapper
                    display table
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
                    padding 5%
                    p
                        display table-cell
                        vertical-align middle
                        text-align center
                        color #fff
                        lato 15 light
                        text-transform uppercase
                        line-height 1.4
                        span
                            display block
            &:hover
                .overlay
                    opacity 1
    +below($tablet)
        position relative
        overflow auto
        height auto
        .categorias-mobile
            display block
        .projetos-principais
            width 100%
            height auto
            border-bottom 1px solid black
            .thumb
                width 50%
                padding-bottom 35%
                &:last-child
                    border-top 0
                    border-left 1px solid black
        .projetos-thumbs
            width 100%
            overflow visible
            .thumb
                width 25%
        .overlay
            display none !important
    +mobile()
        .projetos-principais
            height auto
            .thumb
                width 100%
                padding-bottom 35%
                &:last-child
                    border-left 0
                    border-top 1px solid black
        .projetos-thumbs
            .thumb
                width 33.33%